<% include partials/header %>

<h1>Create a new company</h1>
<form action="/companies" method="POST">
  Company name:<br>
  <input type="text" name="name"><br>
  Logo URL:<br>
  <input type="text" logo="logo">
  <input type="submit" value="Submit">
</form>

<% include partials/footer %>